@model ParkingViewModel

<p>
    <hr />
    <b>@Html.DisplayNameFor(model => model.ParkingSpacesLeft):</b> @Html.DisplayFor(model => model.ParkingSpacesLeft) |
    <b>@Html.DisplayNameFor(model => model.TotalParkingSpaces):</b> @Html.DisplayFor(model => model.TotalParkingSpaces)
</p>

