@model Garage2._0MVC.Models.VehicleModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>
@*<h4>Depature Time: </h4> Get ReceiptViewComponent GetDeparture() || Returns Datetime.Now()
@*<h4>Total Time: </h4> Get ReceiptViewComponent TotalTime() || Returns vehicle.arrivaltime - departuretime in minutes
<h4>Price: </h4> ReceiptViewComponent Price() || Returns Total Time in minutes * Price
 *@


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <vc:receipt/>
    </dl>
</div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger mt-3">Go Back</button>
    </form>

